/*--------------------------------------------------------------------*\ 

CSS that handles styling across the entire book.
  
\*--------------------------------------------------------------------*/ 

/* body {
    background-color: aqua;
} */


a {
    text-decoration: none !important;
}

.google-sheet {
    border: 1px solid rgb(31, 31, 31);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
  
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    margin: auto;
    display:block;
}