/*--------------------------------------------------------------------*\ 

CSS that handles styling across the entire book.
  
\*--------------------------------------------------------------------*/

a {
    text-decoration: none !important;
}

.google-sheet {
    border: 1px solid rgb(31, 31, 31);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    margin: auto;
    display: block;
}

.button-container {
    text-align: center; /* Center align the inline-block button */
    margin-top: 20px; /* Optional: adds some space at the top */
}


.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007BFF; /* Blue border */
    background-color: #007BFF; /* Blue background */
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.button-link:hover {
    background-color: white;
    color: #007BFF;
}