napari[all]
matplotlib
stardist-napari
napari-skimage-regionprops
skan
trackpy
seaborn
PyWavelets
dask-image
imagecodecs
graphviz
pyxu
jupyter-bokeh
panel
kaleido
pyclesperanto-prototype
# spam
plotly