alias ll='ls -alF'
alias la='ls -A'
alias gst='git status'
alias t2='tree . -L 2'
alias cde='conda deactivate'
alias cac='conda activate'
alias cacr='conda activate $(basename ${PWD})'
alias ccr='conda create -n $(basename ${PWD}) python=3.9 -y && cac $(basename ${PWD})'
alias cel='conda env list'
alias doihave='pip list | grep'
alias wpy='which python'
alias lsg='ls | grep'
alias pir='pip install -r requirements.txt'
