napari[all]
stardist-napari
napari-skimage-regionprops
matplotlib
skan
trackpy
seaborn
seaborn-image
PyWavelets
dask-image
imagecodecs
graphviz
pyxu
jupyter-bokeh
kaleido
cookiecutter
plotly
opencv-python
stackview
zarr
ome-zarr
# panel  # Incompatible with RISE