jupytext
jupyterlab_myst
nbgitpuller
jupyter-server-proxy
jupyter-archive
jupyter-ai
langchain-openai
jupyterlab-git==0.50.0
jupyterlab-lsp
python-lsp-server[all]
sidecar
jupyter-book
sphinx-gallery
nbsphinx
itables
lckr_jupyterlab_variableinspector
jupyterlab-logout
jupyterlab-theme-toggler
jupyterlab-unfold
jupyterlab_image_editor
jupyter-resource-usage
jupyterlab-search-replace
jupyter-videochat
jupyter_app_launcher
dask-labextension
# jupyterlab-drawio  # fails (install via conda?)
# jupyterlab-gitlab  # extension not working?
# jupyterlab-github